/* aqui va el codigo del menu y la pagina principal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fonfo {
  min-height: 100vh;
}

.fondo_menu {
  background-color: #0d6efd;
}

.icon {
  text-align: center;
}

.back {
  background-color: #b8e4ff;
}

.button {
  color: white;
  margin-left: 1px;
  margin-right: 1px;
  text-decoration: none;
  padding: 6px 8px;
  border-radius: 5px;
  transition: 0.2s;
}

.fondo-login {
  background-color: rgba(255, 255, 255, 0.342);
  min-height: 100vh;
  padding-top: 50px;
}

.login {
  color: rgb(0, 0, 0);
  margin: auto;
  border: 1px solid rgba(16, 17, 17, 0.466);
  padding: 20px;
  border-radius: 6px;
  background-color: #0d6dfd59;
}

.titulo {
  text-align: center;
  margin-bottom: 12px;
  font-size: 30px;
}

.icon .back-icon {
  font-size: 30px;
  margin-bottom: 10px;
}

.box-eye {
  position: relative;
}

.box-eye button {
  border: none;
  position: absolute;
}

.changePassword {
  position: absolute;
  top: 12px;
  left: 270px;
  color: #0d6dfd59;
  cursor: pointer;
}

/*.btn btn-dark{
     
  }*/
/*esto es solo lo del menu */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --body-color: #b8e4ff;
  --sidebar-color: #fff;
  /*-color botones accion-primary-color: #1707c4;*/
  --primary-color: #0a639a;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #383838;
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}

.sidebar.close {
  width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

/* =========================== */

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}

header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -35px;
  transform: translateY(-50%) rotate(180deg);
  height: 40px;
  width: 40px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}

.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
  display: none;
}

.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}

.mode .sun-moon i.sun {
  opacity: 0;
}

body.dark .mode .sun-moon i.sun {
  opacity: 1;
}

body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}

.home {
  position: absolute;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}

.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close ~ .home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}

body.dark .home .text {
  color: var(--text-color);
}

/*aqui finaliza el menu*/

/*Apartado de información de página principal*/
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.attribution {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.text-container {
  max-width: 1000px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: justify;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #666666;
  line-height: 1.6;
}

.Especialistas {
  max-width: 800px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: justify;
  margin-bottom: 20px;
}

.Psicologo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
}

.psico1 {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.contact-details {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-details i {
  margin-right: 10px;
}

.numero,
.direccion,
.psico {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.direccion a,
.psico a,
.attribution a {
  text-decoration: none;
}

/* estilos de publicar */
.body-publish {
  background-color: #b8e4ff;
}

.container-publish {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.volver-button {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}

#TituloPublicacion h1 {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  font-family: Calibri, sans-serif;
}

#tipo_publicacion {
  width: 65vw;
  border-radius: 10px;
  height: 35px;
  font-size: 18px;
  display: block;
  margin: 0 auto;
}

#ImagenP h1 {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  font-family: Calibri, sans-serif;
}

#cuadroImagen {
  border: 2px dashed #ccc;
  padding: 10px;
  text-align: center;
  width: 400px;
  height: 400px;
  margin: 20px auto;
  cursor: pointer;
  position: relative;
  background-color: white;
}

#cuadroImagen input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#cuadroImagen label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#cuadroImagen i {
  font-size: 5em;
}

#imagenPrevia {
  max-width: 100%;
  max-height: 100%;
}

#vistaPrevia {
  max-width: 100%;
  height: auto;
}

#descripcionProducto {
  text-align: center;
  margin: 20px auto;
  max-width: 1000px;
}

#descripcionProducto h2 {
  margin-bottom: 10px;
  font-family: Calibri, sans-serif;
  font-size: 30px;
}

#descripcion {
  width: 100%;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  max-width: 100%;
}

#HabilidadJuguete {
  width: 65vw;
  border-radius: 10px;
  height: 30px;
  font-size: 18px;
  display: block;
  margin: 0 auto;
}

.option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox {
  margin-bottom: 10px;
}

#PublicoDes h1 {
  font-size: 30px;
  font-family: Calibri, sans-serif;
  text-align: center;
}

#labelEdad label {
  font-size: 30px;
  font-family: Calibri, sans-serif;
  text-align: center;
}

#labelEdad input[type="number"] {
  width: 300px;
  height: 30px;
  font-size: 16px;
  text-align: center;
}

#gender h1 {
  font-size: 30px;
  font-family: Calibri, sans-serif;
  text-align: center;
}

#GenderCombox {
  width: 300px;
  height: 30px;
  font-size: 16px;
  margin: 0 auto;
  width: 60vw;
  margin-left: 20%;
}

#realizarButton {
  display: block;
  width: 200px;
  height: 50px;
  margin: 20px auto;
  background-color: #5c5858;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/* Dentro de tu archivo de estilos CSS (styles.css) */
.error-message {
  display: none;
  color: red;
}

.list {
  background-color: #6d1d1d;
}
